<article>
    <header>

        <a id="logo" href="http://frankbosma.nl/" title="frankbosma.nl home">
           <span>frankbosma.nl</span>
        </a>

        <h1>Home</h1>

        <nav>
            <ol class="navigation">
                <li>
                    <a href="http://frankbosma.nl/" title="home" class="active"><span>home</span></a>
                </li>

                <li>
                    <a href="http://frankbosma.nl/portfolio/" title="portfolio" class=""><span>portfolio</span></a>
                </li>
                <li>
                    <a href="http://frankbosma.nl/contact/" title="contact" class=""><span>contact</span></a>
                </li>
            </ol>
        </nav>


    </header>

    <div class="tekst">
        <section>
            <div class="content">
                frankbosma.nl is de online thuisbasis van Frank Bosma, een webontwikkelaar uit Amsterdam, werkend bij de <a href="http://www.vpro.nl">VPRO</a>
            </div>
        </section>
    </div>

    <footer>&copy; 2006-2011</footer>
</article>        